.form {
  background-color: rgba(240, 233, 233, 0.7);
  min-height: 310px;
  min-width: 200px;
  padding: 10px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  justify-content: center;
}
.login-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  color: teal;
  text-shadow: 1px 1px rgb(8, 153, 153), 2px 2px rgb(8, 153, 153),
    3px 3px rgb(8, 153, 153), 4px 4px rgb(8, 153, 153), 5px 5px rgb(8, 153, 153),
    6px 6px 6px rgb(10, 44, 44);
}
