.singlePost {
  flex: 9;
  --sub: #b39656;
}
.sp-wrapper {
  padding-right: 0;
}
.sp-wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.sp-title {
  text-align: center;
  font-size: 28px;
  margin: 20px;
  color: #444;
  font-weight: 600;
  text-transform: capitalize;
}
.sp-icons {
  float: right;

  margin-top: 5px;
}
.sp-icon {
  margin-right: 15px;
  cursor: pointer;
  color: tomato;
}
.sp-icon.edit {
  color: teal;
}
.sp-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 12px;
  color: var(--sub);
}

.sp-date {
  font-style: italic;
}
.sp-lead {
  font-size: 18px;
  color: #666;
  line-height: 25px;
  padding: 10px;
}
.sp-lead::first-letter {
  font-size: 30px;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: serif;
  font-weight: 600;
}
.sp-lead--input {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  /* width: 100%; */
  text-align: center;
  border-bottom: 1px solid #666;
}
.sp-lead--textArea {
  border: none;
  color: #666;
  border-bottom: 1px solid #666;

  font-size: 18px;
  line-height: 25px;
  width: 100%;
}

.sp-lead--input:focus {
  outline: none;
}
.update-btn {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}
