.header {
  width: 100%;
  padding-top: 100px;
}
.header img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}
.h-banner {
  position: relative;
  padding-top: 50px;
}
.header-titles {
  text-align: center;
  position: absolute;
  margin-top: -93px;
  color: rgb(35, 214, 131);
  width: 100%;
}
.header-small-text {
  font-size: 35px;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgb(14, 9, 54);
}
.header-big-text {
  font-weight: 200;
  font-size: 90px;
  text-shadow: 1px 1px 1px rgb(14, 9, 54), 2px 2px 2px rgb(14, 9, 54),
    3px 3px 3px rgb(14, 9, 54), 4px 4px rgb(14, 9, 54), 5px 5px rgb(14, 9, 54),
    6px 6px 6px rgb(142, 141, 155);
}
@media screen and (max-width: 390px) {
  .header-titles {
    margin-top: -39px;
  }
  .header-small-text {
    font: 1em sans-serif;
  }
  .header-big-text {
    font: 2em sans-serif;
    font-weight: 500;
  }
}
